@import "theme";
@import "bootstrap";

a:hover { text-decoration: none; }

.title {
  color: $primary-color;
  font: 21px bold $font-family-condensed; 
  margin-bottom: 20px;

  @media (min-width: $screen-md-min) {
    font-size: 28px;
  }
}

.inverted {
  color: white;
  p, .title { color: white; }
}

pre {
  background-color: #3f3f3f;
  padding: 7px;
}