@import "bootstrap";

body { font-family: 'Open Sans', sans-serif; }

a { color: #4b8952; }

.title {
  color: #213338;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;

  @media (min-width: $screen-md-min) {
    font-size: 28px;
  }
}


p {
  color: #213338; 
  font-size: 16px; 
  line-height: 1.6;
}

.inverted {
  color: white;
  p { color: white; }
  .title { color: white; }
}