@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-g2llh1');
	src:url('fonts/icomoon.eot?#iefix-g2llh1') format('embedded-opentype'),
		url('fonts/icomoon.woff?-g2llh1') format('woff'),
		url('fonts/icomoon.ttf?-g2llh1') format('truetype'),
		url('fonts/icomoon.svg?-g2llh1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniF13B:before {
	content: "\f13b";
}
.icon-uniF148:before {
	content: "\f148";
}
.icon-uniE603:before {
	content: "\e607";
}
.icon-quote-right:before {
	content: "\e60b";
}
.icon-quote-left:before {
	content: "\e60a";
}
.icon-tree:before {
	content: "\e605";
}
.icon-code:before {
	content: "\e606";
}
.icon-console:before {
	content: "\e608";
}
.icon-googleplus:before {
	content: "\e60c";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-instagram:before {
	content: "\e60d";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-github:before {
	content: "\e602";
}
.icon-html5:before {
	content: "\e609";
}
.icon-envelope:before {
	content: "\e604";
}
.icon-gears:before {
	content: "\e603";
}
