---
---

@import "base";

.main-nav {
  background-color: #5B888C;
  padding: 10px 0;
  @media (min-width: $screen-md-min) { padding: 15px 0; }

  .brand {
    color: white;
    font: 21px "Helvetica Neue", Helvetica, Arial, sans-serif;
    @media (min-width: $screen-md-min) { font-size: 28px; }
  }

  .nav {
    list-style-type: none;
    padding-top: 2px;
    margin-bottom: 0;
    @media (min-width: $screen-md-min) { padding-top: 5px; }

    > li > a {
      color: white;
      font-weight: bold;
      font-size: 14px;

      @media (min-width: $screen-md-min) { font-size: 18px; }
    }
  }
}

.action {
  text-align: center;
  padding-bottom: 100px;
  @media (min-width: $screen-md-min) { padding-bottom: 200px; }
}

.primary {
  @extend .btn;

  background: transparent;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  transition: background-color 0.5s ease;

  @media (min-width: $screen-md-min) {
    font-size: 18px;
    padding: 10px 30px;
    border: 4px solid white;
  }

  &:hover {
    color: white;
    background-color: $primary-color;
  }

  &.inverted {
    background-color: $secondary-color;
    border: none;

    &:hover { background-color: $primary-color; }
  }
}

.main {
  background: $primary-color url('../images/home.jpg') no-repeat center top;
  background-size: cover;
  min-height: 400px;

  .main-nav { background-color: transparent; }

  .leading {
    color: white;
    font: 24px/1.1 $font-family-condensed;
    text-align: center;
    padding: 80px 20px 0;
    margin-bottom: 20px;

    @media (min-width: $screen-md-min) {
      font-size: 48px;
      line-height: 1.2;
      padding: 280px 100px 0;
      margin-bottom: 40px;
    }
  }

  .sub-leading {
    color: white;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 300;
    text-align: center;

    border-top: 1px solid #ccc;
    padding-top: 20px;

    @media (min-width: $screen-md-min) { 
      font-size: 24px;
      line-height: 1.6;
      padding-top: 30px;
    }

    padding-bottom: 100px;
    @media (min-width: $screen-md-min) { padding-bottom: 200px; }

    a { color: white; }
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $screen-md-min) {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  &.inverted { background-color: $primary-color; }
}

.what-is-it {
  .p {
    margin-top: 30px;
    @media (min-width: $screen-md-min) { font-size: 18px; }
  }
}

.info {
  .technology {
    margin-top: 30px;
    @media (min-width: $screen-md-min) { margin-top: 40px; }

    .icon { float: left; font-size: 42px; padding-top: 5px; }
    .alt { line-height: 1; font-size: 48px; }
    > div {
      padding-left: 70px;
    }

    header {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 10px;

      @media (min-width: $screen-md-min) {
        font-size: 21px;
        margin-bottom: 14px;
      }
    }

    p {
      font-size: 14px;
      @media (min-width: $screen-md-min) { font-size: 16px; }
    }
  }
}

.details {
  background-color: $secondary-color;
  padding-top: 30px;
  padding-bottom: 30px;

  .box {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    height: 140px;
    margin: 20px 0px;

    @media (min-width: $screen-md-min) {
      padding: 20px 10px;
      margin: 40px 10px;
      height: 200px;
    }

    header {
      color: $primary-color;
      font-family: $font-family-condensed;
      margin-bottom: 15px;

      @media (min-width: $screen-md-min) { font-size: 24px; }
    }
  }

  .duration {
    .value {
      display: block;
      color: $secondary-color;
      font-size: 38px;
      font-weight: bold;
      line-height: 1;

      @media (min-width: $screen-md-min) {
        font-size: 62px;
      }
    }
    .unit {
      display: block;
      color: $secondary-color;
      font-size: 21px;
      line-height: 1;

      @media (min-width: $screen-md-min) { font-size: 28px; }
    }
  }

  .city {
    color: $secondary-color;
    font-size: 21px;
    font-weight: bold;
    margin-top: 30px;

    @media (min-width: $screen-md-min) { font-size: 28px; }
  }

  .tuition {
    .value {
      color: $secondary-color;
      font-size: 18px;
      margin-top: 20px;
      @media (min-width: $screen-md-min) { font-size: 28px; }
    }
    p {
      font-size: 12px;
      @media (min-width: $screen-md-min) { font-size: 14px; }
    }
  }

  .when {
    .value {
      display: block;
      color: $secondary-color;
      font-size: 34px;
      font-weight: bold;
      line-height: 1.1;

      @media (min-width: $screen-md-min) { font-size: 62px; }
    }
    .unit {
      display: block;
      color: $secondary-color;
      font-size: 16px;
      line-height: 1;

      @media (min-width: $screen-md-min) { font-size: 21px; }
    }
  }
}

.method {
  background-color: #213338;
  color: white;

  .box {
    margin-top: 40px;

    header {
      font-size: 18px;
      margin-bottom: 14px;

      @media (min-width: $screen-md-min) {
        font-size: 21px;
      }
    }
  }
}

.faq {
  .q {
    margin-top: 40px;

    header {
      color: $secondary-color;
      font-size: 18px;
      margin-bottom: 14px;

      @media (min-width: $screen-md-min) { font-size: 21px; }
    }
  }
}

.apply {
  .version {
    margin-top: 40px;
    strong { display: inline-block; width: 120px; }
    p { margin-bottom: 5px; }
    p.note {
      color: #666;
      font-size: 14px;
      margin-top: 15px;
      margin-bottom: 0px;
    }
  }

  .title {
    font-size: 24px; 
    margin-top: 40px;

    @media (min-width: $screen-md-min) { 
      font-size: 32px; 
      margin-top: 60px;
    }
  }

  .subtitle {
    font-size: 16px; 
    text-align: center; 
    margin-top: -20px;
  }

  .hr { 
    margin: 40px -15px 35px; 
    span {
      background: white;
      color: $secondary-color;
      font-size: 12px;
      font-weight: bold;
      padding: 0 5px;
    }
    hr { margin-top: -12px; }
  }

  .application-form {
    padding-bottom: 100px;

    .control-label { text-align: left;}
  }
}

.thankyou {
  .title {
    font-size: 28px; 
    margin-top: 50px;
    margin-bottom: 40px;

    @media (min-width: $screen-md-min) { 
      font-size: 38px; 
      margin-top: 80px;
      margin-bottom: 40px;
    }
  } 
}

.team {
  .box {
    margin-top: 40px;

    img { 
      width: 150px; height: 150px;
    }

    header {
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 14px;

      @media (min-width: $screen-md-min) {
        font-size: 21px;
      }
    }

    p {
      margin-bottom: 0;
      a { 
       color: #A5CCAA; 
       &:hover, &:active { color: lighten(#A5CCAA, 5%); text-decoration: underline; }
      }
    }

    ul {
      display: inline-block;
      font-size: 21px;
      padding: 0;
      margin: 0;

      li { 
        float: left; 
        list-style-type: none; 
        padding: 15px;

        a { color: white; }
      }
    }
  }
}

.support { 
  background-color: whiteSmoke;

  .box { 
    margin-top: 40px;

    img { margin: auto; }
  }
}

.social-proof {

  .carousel-control {
    background-image: none;
  }

  .quote {
    display: block;
    overflow: hidden;
    min-height: 100px;
    padding: 20px 10px 60px;

    @media (min-width: $screen-md-min) { padding: 20px 160px 100px; }

    .text {
      font-size: 18px; 
      line-height: 1.4; 
      font-weight: 300; 
      margin-bottom: 20px; 
      text-align: center;

      @media (min-width: $screen-md-min) {
        font-size: 24px;
        margin-bottom: 60px; 
      }

      span { 
        font-size: 16px; 
        margin: 0 5px;
        @media (min-width: $screen-md-min) { font-size: 21px; }
      }
    }

    .source {
      text-align: center;
      padding: 0 30px;

      @media (min-width: $screen-md-min) { padding: 0; }

      > div {
        display: inline-block;   
        max-width: 400px;
      }
      img { 
        width: 80px; 
        height: 80px;

        @media (min-width: $screen-md-min) { 
          float: left; 
          width: 120px; 
          height: 120px;          
        }
      }
      .credentials {
        @media (min-width: $screen-md-min) { 
          text-align: left;
          padding-left: 150px; 
        }

        h4 {
          font-size: 18px;
          @media (min-width: $screen-md-min) { font-size: 21px; }
        }

        p { 
          font-size: 14px; 
          @media (min-width: $screen-md-min) { font-size: 16px; }
        }
      }
    }
  }
}

.blog {
  .main-nav {
    background-color: $secondary-color;
  }
}

.post-details {
  color: #999;
  font-size: 14px;
  margin-top: -5px;
  .post-author { color: $secondary-color; }
}

.posts {
  margin-top: 80px;
  .post-info {
    margin-bottom: 60px;

    header { margin-bottom: 18px; }
    .post-title {
      display: inline-block;
      color: $primary-color;
      font-family: $font-family-condensed;
      font-size: 38px; 
      line-height: 1.1;
      margin-bottom: 10px;
    }

    .continue { 
      display: block;
      font-size: 14px; 
    }
  }
}

.post {
  .header { margin-top: 60px; }
  header {
    margin-top: 40px;
    margin-bottom: 40px;
    h1 { font-family: $font-family-condensed; }
  }
  p { margin-bottom: 18px; }
  h2 { 
    font-family: $font-family-condensed; 
    margin-bottom: 21px;
  }

  .footer {
    margin-top: 40px; 
    margin-bottom: 100px;
  }
}


.admin {
  #applications {

    .name {
      color: $secondary-color;
      font-size: 18px;
      line-height: 1.3;
    }
    .email, .birth, .created-at { display: block; }
    .birth { 
      color: #999;
      font-size: 14px;
    }
    .created-at { 
      color: #999;
      font-size: 14px;
    }
    .why { font-size: 14px; }
    .status { font-weight: bold; }
    .status-reason {
      display: block;
      color: #999;
      font-size: 14px;
    }
    .found-us { font-size: 14px; }
  }
}