$font-family-sans-serif:  'Open Sans', sans-serif;
$font-family-condensed:   'Open Sans Condensed', sans-serif;

$font-size-base:		  16px;
$line-height-base:	      1.6;

$primary-color:           #213338;
$secondary-color:         rgb(45,169,171);

$text-color:              $primary-color;
$link-color:			  #4b8952;