<header class="main-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <a class="brand" href="/">makeit<strong>real</strong><span style="display:block; font-size: 16px; line-height: 0.5; margin-left: 87px">.camp</span></a>
      </div>
      <div class="col-xs-8 text-right clearfix">
        <ul class="nav">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/apply/" class="act">Aplica</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>