<nav class="main">
  <div class="container">
    <div class="main-content">
      <a href="https://makeitreal.camp/?utm_source=blog&utm_medium=web&utm_campaign=inbound&utm_content=logo"><img src="/assets/images/logo-makeitreal-white.png" alt="Make it Real Logo"></a>
      <a href="https://makeitreal.camp/?utm_source=blog&utm_medium=web&utm_campaign=inbound&utm_content=programs#programs" class="btn-cta">Conoce nuestros programas</a>
      <div class="secret" style="display: none;">HcUy6Re2LLBRtj</div>
    </div>
  </div>
</nav>
