<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:type" content="{% if page.excerpt %}article{% else %}website{% endif %}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

{% if page.image %}
  <meta property="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">
{% else %}
  {% if site.image %}
    <meta property="og:image" content="{{ site.image | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
{% endif %}

{% if page.description %}
  <meta property="og:description" content="{{ page.description | strip_html | strip_newlines | truncate: 160 }}">
{% endif %}
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="{{ site.locale }}">

{% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  <meta property="article:author" content="{{ page.author }}">
{% endif %}
