$font-family-sans-serif:  'Open Sans', sans-serif;
$font-family-condensed:   'Open Sans Condensed', sans-serif;

$font-size-base:		  16px;
$line-height-base:	      1.6;

$primary-color:           #525243;
$secondary-color:         #359EAB;

$text-color:              $primary-color;
$link-color:			  #F04500;

$btn-primary-bg:		  $secondary-color;

$icon-font-path: "/css/fonts/";
