$font-family-sans-serif:  'Open Sans', sans-serif;

$primary-color:           #F04500;
$secondary-color:         #359EAB;

$body-bg:       #f5f5f2;
$body-color:              #525243;
$link-color:			  $primary-color;
