<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Make it Real - Admin</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "/css/fonts.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ "/js/underscore-min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <script src='https://cdn.firebase.com/js/client/1.0.17/firebase.js'></script>
  <script src="https://cdn.firebase.com/js/simple-login/1.6.2/firebase-simple-login.js"></script>
</head>
<body>
  <div class="admin">
    <header class="main-nav">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <a class="brand" href="/">makeit<strong>real</strong></a>
          </div>
        </div>
      </div>
    </header>
    {{ content }}
  </div>
</body>
</html>