<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Make it Real - El primer bootcamp inmersivo de programación en Colombia</title>
  <meta name="description" content="Conviértete en un desarrollador Web en 12 intensas semanas" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="ckS9LaDRN4cUMzGzdsq4qN7pMiS3ialU_Ka8crrTd_8" />

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary"> 
  <meta name="twitter:title" content="Make it Real"> 
  <meta name="twitter:description" content="Make ir Real: El primer bootcamp inmersivo de programación en Colombia."> 
  <meta name="twitter:creator" content="@germanescobar">
  <meta name="twitter:image" content="http://makeitreal.camp/images/home.jpg">

  <!-- Open Graph data --> 
  <meta property="og:title" content="Make it Real" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="http://makeitreal.camp/" />
  <meta property="og:image" content="http://makeitreal.camp/images/home.jpg" />
  <meta property="og:description" content="El primer bootcamp inmersivo de programación en Colombia." /> 
  <meta property="og:site_name" content="Make it Real" />

  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-18132057-9', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53d2833b1967bc57"></script>

</head>
<body>
  {{content}}
</body>
</html>